.frame2 {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .frame2 .div {
    background-color: #ffffff;
    height: 1080px;
    position: relative;
    width: 1920px;
  }
  
  .frame2 .header-instance {
    left: 0 !important;
    position: absolute !important;
    top: 0 !important;
  }
  
  .frame2 .overlap {
    background-color: #d9d9d9;
    border-radius: 43px;
    height: 622px;
    left: 176px;
    position: absolute;
    top: 150px;
    width: 1172px;
  }
  
  .frame2 .text-wrapper {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 36px;
    font-weight: 400;
    left: 230px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 10px;
  }
  
  .frame2 .group {
    height: 293px;
    left: 68px;
    position: absolute;
    top: 134px;
    width: 1009px;
  }
  
  .frame2 .flexcontainer {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: 206px;
    left: 0;
    position: absolute;
    top: 87px;
    width: 223px;
  }
  
  .frame2 .text {
    align-self: stretch;
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
  }
  
  .frame2 .span {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0;
  }
  
  .frame2 .flexcontainer-2 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: 206px;
    left: 267px;
    position: absolute;
    top: 87px;
    width: 209px;
  }
  
  .frame2 .mail {
    color: #db4c3b;
    font-family: "Inter-Regular", Helvetica;
    font-size: 24px;
    font-weight: bolder;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    width: 89px;
  }
  
  .frame2 .mail-2 {
    color: #db4c3b;
    font-family: "Inter-Regular", Helvetica;
    font-size: 24px;
    font-weight: bolder;
    left: 267px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    width: 177px;
  }
  
  .frame2 .mail-3 {
    color: #db4c3b;
    font-family: "Inter-Regular", Helvetica;
    font-size: 24px;
    font-weight: bolder;
    left: 534px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    width: 89px;
  }
  
  .frame2 .mail-4 {
    color: #db4c3b;
    font-family: "Inter-Regular", Helvetica;
    font-size: 24px;
    font-weight: bolder;
    left: 801px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    width: 89px;
  }
  
  .frame2 .flexcontainer-3 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: 206px;
    left: 533px;
    position: absolute;
    top: 87px;
    width: 203px;
  }
  
  .frame2 .flexcontainer-4 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: 206px;
    left: 801px;
    position: absolute;
    top: 87px;
    width: 192px;
  }
  
  .frame2 .overlap-group {
    background-color: #d9d9d9;
    border-radius: 43px;
    height: 277px;
    left: 1405px;
    position: absolute;
    top: 320px;
    width: 410px;
  }
  
  .frame2 .div-wrapper {
    background-color: #db4c3b;
    border-radius: 43px;
    height: 82px;
    left: 27px;
    position: absolute;
    top: 35px;
    width: 165px;
  }
  
  .frame2 .text-wrapper-2 {
    color: #ffffff;
    font-family: "Inter-Regular", Helvetica;
    font-size: 24px;
    font-weight: 400;
    left: 21px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 21px;
  }
  
  .frame2 .overlap-2 {
    background-color: #db4c3b;
    border-radius: 43px;
    height: 82px;
    left: 217px;
    position: absolute;
    top: 35px;
    width: 176px;
  }
  
  .frame2 .text-wrapper-3 {
    color: #ffffff;
    font-family: "Inter-Regular", Helvetica;
    font-size: 24px;
    font-weight: 400;
    left: 10px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 21px;
  }
  .frame2 .text-wrapper-5 {
    color: #ffffff;
    font-family: "Inter-Regular", Helvetica;
    font-size: 24px;
    font-weight: 400;
    left: 4px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 21px;
  }
  
  .frame2 .overlap-3 {
    background-color: #db4c3b;
    border-radius: 43px;
    height: 82px;
    left: 37px;
    position: absolute;
    top: 158px;
    width: 165px;
  }
  
  .frame2 .text-wrapper-4 {
    color: #ffffff;
    font-family: "Inter-Regular", Helvetica;
    font-size: 24px;
    font-weight: 400;
    left: 24px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 21px;
  }
  
  .frame2 .overlap-4 {
    background-color: #db4c3b;
    border-radius: 43px;
    height: 82px;
    left: 217px;
    position: absolute;
    top: 158px;
    width: 175px;
  }
  
  .frame2 .loeremloerem-mes-wrapper {
    background-color: #f8ab98;
    border-radius: 0px 0px 21px 0px;
    height: 66px;
    left: 0;
    position: absolute;
    width: 22%;
  }
  
  .frame2 .loeremloerem-mes {
    color: #000000;
    font-family: "Inter", Helvetica;
    font-size: 24px;
    font-weight: 400;
    height: 29px;
    left: 12%;
    position: absolute;
    top: 25%;
  }