.frame1 {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .frame1 .div {
    background-color: #ffffff;
    height: 100%;
    position: relative;
    width: 100%;
  }
  
  .frame1 .header-instance {
    left: 0 !important;
    position: absolute !important;
    top: 0 !important;
  }
  
  .frame1 .overlap4 {
    background-image: url(../calendrier-decembre-2023_26269_15.png);
    background-position: 50% 50%;
    background-size: cover;
    height: 750px;
    left: 119px;
    position: absolute;
    top: 100px;
    width: 1134px;
  }
  
  .frame1 .ellipse {
    background-color: #fc0606;
    border-radius: 10px/7.5px;
    height: 15px;
    left: 765px;
    position: relative;
    top: 215px;
    width: 20px;
  }
  
  .frame1 .ellipse-2 {
    background-color: #fc0606;
    border-radius: 10px/7.5px;
    height: 15px;
    left: 1300px;
    position: absolute;
    top: 300px;
    width: 20px;
  }
  
  .frame1 .text-wrapper {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 24px;
    font-weight: 400;
    left: 1330px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 267px;
  }
  
  .frame1 .overlap-group {
    background-color: #f8ab98;
    border-radius: 0px 0px 21px 0px;
    height: 66px;
    left: 0;
    position: absolute;
    width: 25%;
  }
  
  .frame1 .rendezvous-bar {
    color: #000000;
    font-family: "Inter", Helvetica;
    font-size: 24px;
    font-weight: 400;
    height: 29px;
    left: 12%;
    position: absolute;
    top: 25%;
  }
  
  .frame1 .div-wrapper {
    background-color: #e8f8f1;
    border-radius: 50px;
    height: 62px;
    left: 1450px;
    position: absolute;
    top: 450px;
    width: 340px;
  }
  
  .frame1 .text-wrapper-2 {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 24px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 11px;
    width: 340px;
  }
  