body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.logo-left {
  width: 267px; 
  height: 97px;
}

.logo-right {
  width: 150px; 
  height: 95px;
}
.main {
  width: 100%;
  height: 100%;
  background: #DB4C3B; 
  align-items: center;
  display: inline-flex;
  justify-content: space-between;
}

@media screen and (max-width: 600px) {
  .main {
    gap: 0px;
  }
  .logo-left {
    width: 120px; 
    height: 40px
  }
  
  .logo-right {
    width: 95px; 
    height: 35px
  }
}



